---
import type { GetStaticPaths } from "astro";
import { getConfig } from "@/lib/config";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const { vaults } = getConfig();
  const paths = [];

  const entries = await getCollection("obsidianNotes");
  for (const vault of vaults) {
    try {
      for (const entry of entries.filter(
        (note) => note.data.repo === vault.repo,
      )) {
        paths.push({
          params: {
            slug: entry.id === "/" ? undefined : entry.data.slug,
          },
          props: {
            entry,
            vault,
          },
        });
      }
    } catch (error) {
      console.error(`The vault collection: ${vault.repo} not available`);
    }
  }
  return paths;
}) satisfies GetStaticPaths;

const { entry, vault } = Astro.props;
const { Content } = await render(entry);
---

<Layout {vault}>
  <article class="max-w-4xl mx-auto px-4">
    <div class="mb-8">
      <h1 class="text-2xl text-base-content font-bold mb-4">
        {entry.data.title}
      </h1>
      <!-- { -->
      <!--   entry.data.tags && ( -->
      <!--     <div class="flex flex-wrap gap-2"> -->
      <!--       {entry.data.tags.map((tag) => ( -->
      <!--         <a -->
      <!--           href={`/${slugify(entry.data.repo)}/tags/${tag}`} -->
      <!--           class="badge badge-outline hover:badge-primary" -->
      <!--         > -->
      <!--           #{tag} -->
      <!--         </a> -->
      <!--       ))} -->
      <!--     </div> -->
      <!--   ) -->
      <!-- } -->
    </div>

    <div class="prose prose-slate prose-lg max-w-none">
      <Content />
    </div>
  </article></Layout
>
